[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyyaml = "*"
aiohttp-security = "*"
bcrypt = "*"
pytoml = "*"
pydantic = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.10"
